<div class="custom-container">
    <div class="background-image">
        <div class="background-overlay">
            <div class="row text-center">
                <div class="col-12" style="margin-top: 4%;">
                    <span class='heading-label'> Served </span>
                </div>
                <div class="col-12">
                    <span class='sub-header text-center'> Find what to Eat | where to Dine </span>
                </div>
                <div class="col-12">
                    <div class="row" style="padding: 10px;">
                        <div class="col-md-8">
                            <input class='col-md-6 home-search-box' placeholder="search by city name">
                        </div>
                        <div class="col-md-4">
                            <button style="float: left;"> search </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add a select field and a search box -->

<!-- show some grid -->