<div class="custom-container">
    <div class="background-image">
        <div class="background-overlay">
            <div class="row text-center">
                <div class="col-12" style="margin-top: 4%;">
                    <span class='heading-label'> Served </span>
                </div>
                <div class="col-12">
                    <span class='sub-header text-center'> Find what to Eat | where to Eat </span>
                </div>
                <div class="col-12">
                    <div class="row" style="padding: 10px;">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <input class='form-control' placeholder="search by city name" [matAutocomplete]="auto"
                                (keyup)='onKeyDown($event)' name='search-auto-complete'
                                [(ngModel)]='autoCompleteSearchResult' [value]='getSearchBoxValue()'>

                            <!-- search auto complete -->
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of cityOptions" [value]="option"
                                    (click)='onCitySelection()'>
                                    <div class="row">
                                        <img class='country-image' [src]='option.country_flag_url'
                                            alt="image not available">
                                        <span style='margin-left:15px'> {{option.name}} </span>
                                    </div>
                                </mat-option>
                            </mat-autocomplete>

                        </div>
                        <!-- <div class="col-md-3">
                            <button class='btn btn-light' style="float: left;"> search </button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class='col-12' src="../../../assets/background/undraw_Hamburger_8ge6.png" />
        </div>
        <div class="col-md-4">
            <img class="col-12" src="../../../assets/background//undraw_breakfast_psiw.png" />
        </div>
        <div class="col-md-4">
            <img class='col-12' src="../../../assets//background/undraw_eating_together_tjhx.png" />
        </div>
    </div>
</div>
