<Loader *ngIf='loader'></Loader>

<div class="container">
    <span> Collections in <strong>{{locationData.name}}</strong> </span>

    <div class="row" *ngFor='let collection of allAvailableCollection' style="margin-top: 10px !important;">
        <div class="col-md-2">

        </div>

        <div class="col-md-8 card" style="cursor: pointer;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img [src]='getImageSrc(collection)' alt="image not availabe" style="width: 80%;">
                    </div>
                    <div class="col-md-8">
                        <div class="col-12">
                            <label class='collection-title-label'> {{collection['collection'].title}} </label>
                        </div>
                        <div class="col-12">
                            <label> {{collection['collection'].description}} </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">

        </div>
    </div>

</div>